<div class="box">
  <div class="progreso">
    <ul>
      <li>Ronda: {{ totalJugadas }}</li>
      <li class="tiempo">Tiempo: {{ tiempoTranscurrido }}</li>
      <br />
      <li class="banderasJugadas">
        Banderas acertadas: {{ respuestasCorrectas }} / {{ rondasTotales }}
      </li>
    </ul>
    <button class="sonido" (click)="cambiarSonidos()">
      <img
        [src]="
          sonidosActivados
            ? 'assets/volumenActivado.png'
            : 'assets/volumenTachado.png'
        "
        alt="Sonido"
        width="30"
        height="30"
      />
    </button>
    <button
      class="pistaBtn"
      [disabled]="pistaUsada || seleccionoRespuesta"
      (click)="mostrarPista()"
    >
      Mostrar Pista
    </button>
    <br />
    <div *ngIf="pistaVisible" class="pista">
      {{ opcionCorrecta.name.common }}
    </div>
    <br />
  </div>
  <div class="contenerdorBandera">
    <img
      class="bandera"
      [src]="opcionCorrecta.flags.png"
      [alt]="opcionCorrecta.flags.alt"
    />
  </div>
  <form>
    <div *ngFor="let opcion of opciones">
      <input
        class="opcionRespuesta"
        type="button"
        [id]="opcion.capital"
        [value]="opcion.capital"
        [ngClass]="{
          correcto: opcion['estado'] === 'correcto',
          incorrecto: opcion['estado'] === 'incorrecto'
        }"
        (click)="manejarRespuesta(opcion)"
        [disabled]="seleccionoRespuesta"
      />
    </div>
  </form>

  <button
    class="continuar"
    *ngIf="seleccionoRespuesta && !juegoTerminado"
    (click)="continuar()"
  >
    Continuar
  </button>
  <div *ngIf="juegoTerminado">
    <h2>{{ mensajeFinal }}</h2>
  </div>
</div>
