.box {
  background: rgb(107, 101, 207);
  background: linear-gradient(
    173deg,
    rgba(107, 101, 207, 1) 11%,
    rgba(94, 94, 223, 1) 50%,
    rgba(0, 212, 255, 1) 83%
  );
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 90%;
  max-width: 600px;
  height: 600px;
  max-height: 600px;
  margin: auto;
  margin-top: 120px;
}

.btn {
  border: none;
  background: rgb(215, 226, 85);
  background: radial-gradient(
    circle,
    rgba(215, 226, 85, 1) 29%,
    rgba(212, 151, 64, 1) 84%
  );
  color: #000000;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.7s;
  width: 100%; /* Hazlo responsivo */
  max-width: 300px;
  height: 45px;
  margin: 0 auto; /* Centra el botón */
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.bandera {
  width: 67%;
  height: 50%;
  object-position: center;
}

@media screen and (max-width: 600px) {
  .box {
    width: 90%;
    height: auto;
    margin-top: 60px;
    padding: 10px;
  }

  .bandera {
    width: 100%;
    height: auto;
  }

  .btn {
    width: 80%;
    max-width: none;
  }
}
