/* Contenedor principal */
div {
  background: linear-gradient(
    173deg,
    rgba(107, 101, 207, 1) 11%,
    rgba(94, 94, 223, 1) 50%,
    rgba(0, 212, 255, 1) 83%
  );
  width: 100%;
  height: 60px;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: left;
}

/* Título */
h3 {
  padding: 5px;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Responsividad */
@media (max-width: 768px) {
  div {
    height: 50px;
  }

  h3 {
    font-size: 16px;
    padding: 4px;
    width: auto;
  }
}

@media (max-width: 480px) {
  div {
    height: 40px;
  }

  h3 {
    font-size: 14px;
    padding: 3px;
  }
}
