.box {
  background: rgb(107, 101, 207);
  background: linear-gradient(
    173deg,
    rgba(107, 101, 207, 1) 11%,
    rgba(94, 94, 223, 1) 50%,
    rgba(0, 212, 255, 1) 83%
  );
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 90%; /* Diseño fluido */
  max-width: 600px; /* Limita el tamaño en pantallas grandes */
  height: 600px;
  max-height: 600px;
  margin: auto;
  margin-top: 50px; /* Reduce el margen superior */
}

.btn {
  border: none;
  background: rgb(215, 226, 85);
  background: radial-gradient(
    circle,
    rgba(215, 226, 85, 1) 29%,
    rgba(212, 151, 64, 1) 84%
  );
  color: #000000;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.7s;
  width: 100%; /* Hazlo responsivo */
  max-width: 300px;
  height: 45px;
  margin: 0 auto; /* Centra el botón */
  margin-top: 60%;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.menu-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se apilen en pantallas pequeñas */
  gap: 20px; /* Reduce el espacio entre los elementos */
  justify-content: center; /* Centra los menús desplegables */
}

.dropdown {
  position: relative;
  text-align: center;
}

.dropdown-button {
  background: rgb(215, 226, 85);
  background: radial-gradient(
    circle,
    rgba(215, 226, 85, 1) 29%,
    rgba(212, 151, 64, 1) 84%
  );
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
}

.dropdown-button:hover {
  background-color: #543210;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: rgb(215, 226, 85);
  background: radial-gradient(
    circle,
    rgba(215, 226, 85, 1) 29%,
    rgba(212, 151, 64, 1) 84%
  );
  border: 1px solid #ddd;
  margin-top: 5px;
  padding: 10px 0;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  max-width: 150px;
  z-index: 1000;
  min-width: 100%;
}

.dropdown-menu li {
  padding: 3px 9px;
  font-size: 14px;
  color: black;
  white-space: nowrap;
}

.dropdown-menu li:hover {
  background: rgb(215, 226, 85);
  background: radial-gradient(
    circle,
    rgba(215, 226, 85, 1) 29%,
    rgba(212, 151, 64, 1) 84%
  );
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 768px) {
  .box {
    margin-top: 20px;
    padding: 10px;
  }

  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  .menu-container {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .box {
    padding: 8px;
    font-size: 14px;
  }

  .dropdown-button {
    font-size: 14px;
    width: 100%;
  }

  .dropdown-menu {
    font-size: 12px;
  }
}
