.box {
  background: rgb(107, 101, 207);
  background: linear-gradient(
    173deg,
    rgba(107, 101, 207, 1) 11%,
    rgba(94, 94, 223, 1) 50%,
    rgba(0, 212, 255, 1) 83%
  );
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 90%;
  max-width: 700px;
  height: 700px;
  max-height: 700px;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

.btn {
  border: none;
  background: rgb(215, 226, 85);
  background: radial-gradient(
    circle,
    rgba(215, 226, 85, 1) 29%,
    rgba(212, 151, 64, 1) 84%
  );
  color: #000000;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.7s;
  width: 100%;
  max-width: 300px;
  height: 45px;
  margin: 0 auto;
  margin-top: 55%;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.dropdown {
  position: relative;
  text-align: center;
}

.dropdown-button {
  background: rgb(215, 226, 85);
  background: radial-gradient(
    circle,
    rgba(215, 226, 85, 1) 29%,
    rgba(212, 151, 64, 1) 84%
  );
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-button:hover {
  background-color: #543210;
  transition: 1s;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
  opacity: 0.6;
}

.dropdown-menu {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  background: rgb(215, 226, 85);
  background: radial-gradient(
    circle,
    rgba(215, 226, 85, 1) 29%,
    rgba(212, 151, 64, 1) 84%
  );
  border: 1px solid #ddd;
  margin-top: 5px;
  padding: 10px 0;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  max-width: 150px;
  z-index: 1000;
  min-width: 100%;
  transition: opacity 0.4s ease-in-out;
}

.dropdown-menu li {
  padding: 3px 9px;
  font-size: 14px;
  color: black;
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
}

.dropdown-menu li:hover {
  background: rgb(215, 226, 85);
  background: radial-gradient(
    circle,
    rgba(215, 226, 85, 1) 29%,
    rgba(212, 151, 64, 1) 84%
  );
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
}

.dropdown:hover .dropdown-menu:not([hidden]) {
  opacity: 1;
}

.scroll-container {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
  scrollbar-color: rgba(212, 151, 64, 1) transparent;
}

.modal {
  position: fixed;
  margin-top: 20px;
  width: 80%;
  max-width: 700px;
  height: 55%;
  max-height: 500px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 212, 255, 1) 20%,
    rgba(94, 94, 223, 1) 50%,
    rgba(107, 101, 207, 1) 80%
  );
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  height: 90%;
  position: relative;
  overflow-y: auto;
  scrollbar-color: black transparent;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .box {
    margin-top: 20px;
    padding: 10px;
  }

  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  .menu-container {
    gap: 10px;
  }

  .dropdown-button {
    font-size: 14px;
    width: 120px;
  }

  .modal {
    width: 90%;
    max-width: 400px;
  }

  .modal-content {
    padding: 15px;
  }

  .close {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .box {
    padding: 8px;
    font-size: 14px;
  }

  .dropdown-button {
    font-size: 14px;
    width: 100%;
  }

  .dropdown-menu {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
    padding: 6px 12px;
    margin-top: 15px;
  }

  .modal {
    width: 100%;
    max-width: 350px;
    top: 15%;
  }

  .modal-content {
    padding: 12px;
  }

  .close {
    font-size: 16px;
  }
}
