body {
  background-image: url(/assets/fotoDeFondo.jpeg);
  background-size: cover;
  font-family: cursive;
  width: 100%;
  height: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  body {
    background-size: contain;
  }
}

@media (max-width: 480px) {
  body {
    background-image: url(/assets/fotoDeFondo.jpeg);
  }
}
